* {
  box-sizing: border-box;
}
/* TRUYỀN BIẾN TÁI SỬ DỤNG  */
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: rgba(255, 185, 0, 1);
}
html {
  font-size: 62.5%;
}
/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =================Common================== */
a {
  /* Bỏ gạch chân thẻ a */
  text-decoration: none;
}
.main-content {
  width: 1170px;
  /* Trình duyệt không bị sát lề */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px; /* Chiều cao nút bấm */
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: rgba(23, 17, 0, 1);
}
.btn:hover {
  opacity: 0.9;
}
/*=================Header==================   */
.header {
  background: rgba(255, 252, 244, 1);
}
.header.fixed {
  z-index: 1; /* Làm cho hình không bị đẩy lên trên */
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: rgba(95, 91, 83, 1);
  font-size: 1.6rem;
  /* Chọn padding thay vì margin để tăng vùng bấm */
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: rgba(23, 17, 0, 1);
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
/* Tạo dấu gạch chân dưới Home */
.nav li.active a:after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: rgba(23, 17, 0, 1);
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .actions {
  margin-left: 49px;
}
/*=================Hero==================   */
.hero {
  padding: 56px 0 65px;
  background-color: rgba(255, 252, 244, 1);
}
.hero .body {
  display: flex;
}
/* -------hero left-------- */
/* css chiều rộng cho khối trái */
.hero .media-block {
  position: relative;
  width: 48%;
}

/* đặt kích cỡ cho ảnh khối trái */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover; /* Không vỡ ảnh */
  border-radius: 20px;
}
/* css cho khối nhỏ trên media block */
.hero .hero-summary {
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
/* Tạo khoảng cách giữa các item */
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Tạo hình tròn bên ngoài icon */

  /* Căn giữa icon bên trong vòng tròn */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 249, 232, 1);
}
.hero-summary .icon2 {
  background-color: rgba(252, 239, 255, 1);
}
.hero-summary .icon3 {
  background-color: rgba(235, 234, 255, 1);
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: rgba(95, 91, 83, 1);
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  color: rgba(23, 17, 0, 1);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}

/* -------hero left-------- */
/* css chiều rộng cho khối phải */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: rgba(23, 17, 0, 1);
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: rgba(95, 91, 83, 1);
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}
.hero-cta {
  line-height: 64px;
  min-width: 180px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent; /* trong suốt */
  margin-left: 28px;
  /* Tạo con trỏ chuột bàn tay */
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  color: rgba(23, 17, 0, 1);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  color: rgba(23, 17, 0, 1);
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}
/* Lấy thẻ strong thứ 2 */
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
